.local{
    max-width: 1100px;
    margin: 0 auto;
}
.local_titulo{
    color: #141414;
    padding: 40px 0px;
    font-size: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}
.local_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}
.local_loja{
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.local_loja_titulo{
    font-size: 5rem;
    font-weight: 200;
    color: #292929;
    margin: 0;
}
.local_loja_endereco{
    color: #525252;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    padding: 20px 0;
    line-height: 1.5;
    font-size: 1.125rem;
}
.local_loja_endereco span{
    font-weight: bold;
}
.local_loja_endereco::before{
    content: "";
    position: absolute;
    height: 6px;
    width: 12px;
    background: linear-gradient(180deg, #F80000 0%, #B81212 100%);
    left: -20px;
    top: 28px;
}
.local_loja_imagem{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.local_loja_imagem:hover{
    height: 220px;
    width: 220px;
    border-radius: 50%;
}
.local_separador{
    content: "";
    height: 450px;
    width: 1px;
    background: #F7F7F7;
}
@media (max-width:1061px){
    .local_titulo{
        margin-left: 20px;
    }
}
@media (max-width:881px){
    .local_info{
        gap: 10px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 0.875rem;
    }
    .local_loja_titulo{
        font-size:3rem;
    }
}
@media (max-width:731px){
    .local_loja_imagem{
        height: 150px;
        width: 150px;
    }
    .local_separador{
        display: none;
    }
    .local_loja_imagem:hover{
        height: 180px;
        width: 180px;
        border-radius: 50%;
    }
    .local_loja_endereco{
        padding-top: 0px;
    }
    .local_loja_endereco::before{
        top: 2px;
    }
}
@media (max-width:701px){
    .local_info{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .local_loja:first-child{
        padding-bottom: 20px;
    }
}
@media (max-width:461px){
    .local_titulo{
        font-size: 1.5rem;
    }
}
@media (max-width:330px){
    .local_loja_titulo{
        font-size: 2rem;
    }
    .local_loja_imagem{
        height: 120px;
        width: 120px;
    }
    .local_loja_imagem:hover{
        height: 140px;
        width: 140px;
        border-radius: 50%;
    }
    .local_loja_endereco{
        font-size: 0.875rem;
    }
}