.produto_bloco{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
}
details{
    display: none;
}
.produto_titulo{
    color: #141414;
    padding-top: 40px;
    font-size: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.produto_img{
    grid-column: 1;
    height: 430px;
    width: 500px;
    border-radius: 4px;
    z-index: -1;
}
.produto_img_solt{
    position: relative;
    z-index: -1;
}
.produto_img_preco{
    position: absolute;
    background: #292929;
    color: #FFF;
    padding: 4px 8px;
    z-index: -1;
    border-radius: 0px 4px 4px 0px;
    font-size: 0.8rem;
    color: #F5F5F5;
    margin-top: 10px;
    font-family: Montserrat;
}
.produto_img_preco2{
    position: absolute;
    background: #292929;
    color: #FFF;
    padding: 4px 8px;
    z-index: 2;
    border-radius: 0px 4px 4px 0px;
    font-size: 0.8rem;
    color: #F5F5F5;
    margin-top: 40px;
    font-family: Montserrat;
}
.produto_img_preco3{
    position: absolute;
    background: #292929;
    color: #FFF;
    padding: 4px 8px;
    z-index: 2;
    border-radius: 0px 4px 4px 0px;
    font-size: 0.8rem;
    color: #F5F5F5;
    margin-top: 70px;
    font-family: Montserrat;
}
.produto_info{
    grid-column: 2;
    grid-row: 1;
    padding-left: 40px;
}
.cama_info{
    color:#8F8F8F;
    font-size: 1.125rem;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.produto_info_decorador{
    content: " ";
    width: 20px;
    height: 10px;
    background-color: #EB0E00;
    display: inline-block;
    margin-bottom: 10px;
}
.produto_info_titulo{
    position: relative;
    color: #292929;
    font-weight: 700;
    font-size: 1.5rem;
}
.produto_info_descricao{
    color: #525252;
    font-size: 1.25rem;
    font-weight: 500;
}
.lista{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 40px;
}
.produto_lista{
    padding-left: 50px;
    font-weight: 700;
    color: #525252;
    padding-bottom: 10px;
    font-family: Montserrat;
}
.produto_lista_descricao{
    padding-left: 50px;
    display: inline-block;
    color: #666;
}
.produto_lista_conforto{
    position: relative;
}
.produto_lista_conforto::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(/icones/icone_qualidade.svg) no-repeat;
    left: 0px;
    bottom: -10px;
}
.produto_lista_fabricacao{
    position: relative;
}
.produto_lista_fabricacao::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(/icones/icone_fabricacao.svg) no-repeat;
    left: 0;
    bottom: -10px;
}
.produto_lista_duradouro{
    position: relative;
}
.produto_lista_duradouro::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(/icones/icone_duradouro.svg) no-repeat;
    left: 0;
    bottom: -10px;
}
.produto_botao{
    display: inline-block;
    font-weight:600;
    color: #FFF;
    background: linear-gradient(180deg, #F80000 0%, #B81212 100%);
    padding: 10px 12px;
    border-radius: 5px;
}
.produto_botao:hover{
    background: linear-gradient(180deg, #EB0E00 0%, #990F0F 100%);
    transition: 3s;
}
.lista_cortina{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.produto_lista_jackquard{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
}
.produto_lista_jackquard::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(/img/jackquard.svg) no-repeat;
    left: 0px;
    bottom: -5px;
}
.produto_lista_blackout{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
}
.produto_lista_blackout::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(/img/blackout.svg) no-repeat;
    left: 0px;
    bottom: -5px;
}
.produto_lista_linhao{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
}
.produto_lista_linhao::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(/img/linhao.svg) no-repeat;
    left: 0px;
    bottom: -5px;
}
.produto_lista_voal{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
}
.produto_lista_voal::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(/img/voal.svg) no-repeat;
    left: 0px;
    bottom: -5px;
}
.produto_lista_oxford{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
}
.produto_lista_oxford::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(/img/oxford.svg) no-repeat;
    left: 0px;
    bottom: -5px;
}
.produto_img_banho{
    height: 400px;
    width: 400px;
    border-radius: 4px;
}
@media (max-width:1040px){
    .produto_titulo{
        margin-left: 20px;
        padding-top: 0px;
    }
    .produto_bloco{
        margin-left: 40px;
        margin-right: 40px;
    }
    .lista{
        display: none;
    }
    .produto_botao{
        display: inline-block;
    }
    .lista_cortina{
        display: none;
    }
    .produto_info_descricao span{
        display: none;
    }
}
@media (max-width:900px){
    .produto_img{
        height: 350px;
        width: 350px;
    }
    .produto_botao{
        font-size: 0.8rem;
    }
    .produto_info_descricao{
        font-size: 1rem;
    }
}
@media(max-width:700px){
    .produto_img{
        height: 300px;
        width: 300px;
    }
    .produto_info_titulo{
        font-size: 1.125rem;
    }
    .produto_info_titulo span{
        display: none;
    }
    .produto_info_descricao{
        font-size: 0.875rem;
    }
    .produto_botao{
        font-size: 0.6rem;
    }
    .produto_bloco{
        margin-bottom: 40px;
    }
    .produto_titulo{
        font-size: 1.5rem;
    }
}
@media(max-width:591px){
    .produto_bloco{
      display: flex;
      justify-content: start;
      flex-direction: column;
      max-width: 300px;
      margin: auto;
      
    }
    .produto_info{
        padding-left: 0px;
    }
    .produto_info_titulo ,.produto_info_descricao{
        display: none;
    }
    details{
        display:block;
    }
    details summary{
        font-family: Montserrat;
        color: #141414;
        padding-bottom: 10px;
        position: relative;
    }
    details summary::after{
        content: "";
        position:absolute;
        background: url(/icones/seta_details.svg) no-repeat center;
        height: 40px;
        width: 40px;
        top: -8px;
    }
    .produto_botao{
        margin-bottom: 40px;
    }
    details .produto_info_descricao, details .produto_info_titulo{
        display: block;
    }
    .produto_info_descricao{
        margin: 0px;
        margin-bottom: 20px;
    }
    .produto_info_decorador{
        margin-bottom: 5px;
        margin-top: 10px;
    }
}
@media (max-width:361px){
    .produto_img{
        height: 220px;
        width: 220px;
    }
    .produto_bloco{

        width: 220px;
    }
    .produto_info{
        width: 220px;
    }
    .produto_img_preco,.produto_img_preco2,.produto_img_preco3{
        font-size: 0.7rem;
    }
}